<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syousui.mildintegratedmanagesystem.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.syousui.mildintegratedmanagesystem.pojo.po.User">
    <id column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="role" jdbcType="INTEGER" property="role"/>
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
    <result column="phone" jdbcType="INTEGER" property="phone"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, role, avatar_url, phone, email, created_time, updated_time
  </sql>
  <insert id="insert" parameterType="com.syousui.mildintegratedmanagesystem.pojo.po.User">
    insert into sys_users (user_id, username, password, 
      role, avatar_url, phone, 
      email, created_time, updated_time
      )
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=INTEGER}, #{avatarUrl,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.syousui.mildintegratedmanagesystem.pojo.po.User">
    insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.syousui.mildintegratedmanagesystem.pojo.po.User">
    update sys_users
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syousui.mildintegratedmanagesystem.pojo.po.User">
    update sys_users
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_users
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="username != null">
        <bind name="handledUsername" value="'%'+title+'%'"/>
        and username = #{handledUsername}
      </if>
      <if test="password != null">
        and password = #{password}
      </if>
      <if test="role != null">
        and role = #{role}
      </if>
      <if test="avatarUrl != null">
        and avator_url = #{avatorUrl}
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
      <if test="createdTime != null">
        and created_time between #{createdTimeFrom} and #{createdTimeTo}
      </if>
      <if test="updatedTime != null">
        and updated_time between #{updatedTimeFrom} and #{updatedTimeTo}
      </if>
    </where>
  </select>
  <!--  <select id="selectAll" resultMap="BaseResultMap">-->
  <!--    select-->
  <!--    <include refid="Base_Column_List"/>-->
  <!--    from sys_users-->
  <!--  </select>-->
  <!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
  <!--    select-->
  <!--    <include refid="Base_Column_List"/>-->
  <!--    from sys_users-->
  <!--    where user_id = #{userId,jdbcType=INTEGER}-->
  <!--  </select>-->
</mapper>